@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.chat::-webkit-scrollbar {
    display: none;
}

.container {
    background-color: var(--light-bg);
}

.chat {
    margin: 0 22%;
    height: 96vh;
    overflow-x: hidden;
}

.chatLog {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Roboto";
    color: var(--light-text);
}

.chatLogTime {
    font-size: 8pt;
}

.chatLogText {
    max-width: 620px;
}

.typeArea {
    display: flex;
    width: 100%;
    justify-content: center;
    height: 4vh;
    background-color: var(--light-bg);
}

.input {
    height: 26px;
    width: 60vw;
    font-size: 12pt;
    border: none;
    border-radius: 50px;
    padding-left: 10px;
    background-color: var(--light-bg);
    color: var(--light-text);
}

.sendBtn {
    height: 26px;
    width: 26px;
    background-color: var(--light-bg);
    color: var(--light-text);
    border: none;
    border-radius: 50%;
    margin-left: -27px;
    margin-bottom: 1px;
}

.sendBtn:hover {
    background-color: #c7c7c7;
    cursor: pointer;
}