@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");

.nav {
    --color-1: #F2CEE6;
    --color-2: #41337A;
    --color-2-2: #A9AAFC;
    --color-2-3: #594A94;
    --color-3: #6EA4BF;
    --color-4: #C2EFEB;
    --color-5: #ECFEE8;

    --dark-bg: #121212;
    --dark-bg-2: #222;
    --dark-text: #F7F7F7;
    --dark-hover: #D3D3D3;

    --light-bg: #FAFAFA;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Nunito";
    padding: 0 30px;
    width: 97vw;
    position: fixed;
    z-index: 10000000;
}

.logo {
    font-size: 1.2rem;
    margin: 1rem;
    font-weight: 900;
}

.logo a {
    color: var(--dark-text);
}

.logo a:hover {
    color: var(--dark-hover);
}

.links {
    display: flex;
}

.links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.links a {
    color: var(--dark-text);
    padding: 1.6rem 1rem;
    display: block;
    font-weight: 900;
}

.links a:hover {
    color: var(--dark-hover);
}

.joinBtn {
    font-family: "Nunito";
    font-weight: 900;
    font-size: 17px;
    border-radius: 3px;
    background-color: var(--color-2);
    border: none;
    color: var(--dark-text);
    text-align: center;
    padding: 0 30px;
    cursor: pointer;
    margin: 15px 0 15px 30px;
}

.joinBtn:hover {
    background-color: var(--color-2-3);
}