.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Nunito";
  width: 100%;
  position: fixed;
  z-index: 10000000;
  background-color: rgba(250, 250, 250, 0.5);
}

.logo {
  font-size: 1.2rem;
  margin: 16px 46px;
  font-weight: 800;
}

.logo a {
  color: var(--light-text);
}

.logo a:hover {
  color: var(--light-hover);
}

.links {
  display: flex;
}

.links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.links ul a {
  color: var(--light-text);
  padding: 1.6rem 1rem;
  display: block;
  font-weight: 800;
}

.links ul a:hover {
  color: var(--light-hover);
}
