.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 50%);
    background: var(--light-bg);
}

.txtType {
    font-family: "Nunito";
    font-size: 4rem;
    font-variant: small-caps;
    font-weight: 500;
    color: var(--light-text);
}

.txtType>span>span {
    border-right: .5rem solid var(--light-text);
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.topLeft {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.topRight {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bottomLeft {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bottomRight {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.slogan {
    font-family: "Poppins";
    font-size: 23px;
    font-weight: 500;
    padding: 13px 0;
    color: var(--light-text);
}

.slogan span {
    color: var(--color-4-2);
}

.btn {
    font-family: "Nunito";
    font-weight: 700;
    line-height: 130%;
    font-size: 1.1rem;
    border-radius: 10px;
    background-color: var(--color-3);
    border: none;
    color: var(--dark-text);
    text-align: center;
    padding: 16px 30px;
    cursor: pointer;
    width: 127px;
}

.btn:hover {
    background-color: var(--color-3-2);
}

.downArrowContainer {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100vw;
    font-size: 40px;
    bottom: 10%;
    animation: bounce 2s ease infinite;
    color: var(--light-text);
}

.downArrow {
    cursor: pointer;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(40px);
    }

    100% {
        transform: translateY(0);
    }
}