@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');

.container {
    --color-1: #F2CEE6;
    --color-2: #41337A;
    --color-2-2: #A9AAFC;
    --color-2-3: #594A94;
    --color-3: #6EA4BF;
    --color-3-2: #588ca7;
    --color-4: #C2EFEB;
    --color-4-2: #a1dbd6;
    --color-5: #ECFEE8;
    --color-6: #331E36;

    --dark-bg: #121212;
    --dark-bg-2: #222;
    --dark-text: #F7F7F7;
    --dark-hover: #D3D3D3;

    --light-bg: #FAFAFA;
    --light-text: #121212;
    --light-hover: #666666;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 50%);
    background: var(--light-bg);
}

.txtType {
    font-family: "Raleway", sans-serif;
    font-size: 4rem;
    font-variant: small-caps;
    font-weight: 500;
    color: var(--light-text);
}

.txtType>span>span {
    border-right: .5rem solid var(--light-text);
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.topLeft {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.topRight {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.slogan {
    font-family: "Martel Sans", sans-serif;
    font-size: 23px;
    font-weight: 700;
    padding: 13px 0;
    color: var(--light-text);
}

.slogan span {
    color: var(--color-4-2);
}

.btn {
    font-family: "Nunito";
    font-weight: 700;
    line-height: 130%;
    font-size: 17px;
    border-radius: 3px;
    background-color: var(--color-3);
    border: none;
    color: var(--dark-text);
    text-align: center;
    padding: 12px 30px;
    cursor: pointer;
    width: 127px;
}

.btn:hover {
    background-color: var(--color-3-2);
}

.downArrowContainer {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100vw;
    font-size: 40px;
    bottom: 10%;
    animation: bounce 2s ease infinite;
    z-index: 1000;
    color: var(--light-text);
}

.downArrow {
    cursor: pointer;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(40px);
    }

    100% {
        transform: translateY(0);
    }
}

.svgShape {
    fill: var(--color-6);
}