.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 50%);
    background: var(--light-bg);
}

.right {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.input {
    font-size: 1.5rem;
    font-family: "Roboto";
    font-weight: 400;
}

.redirect {
    font-size: 1.5rem;
    font-family: "Roboto";
}