.container {
  height: 100vh;
  width: 300px;
  position: absolute;
  box-shadow: 5px 0 3px -3px rgba(52, 52, 53, 0.05);
  background-color: var(--light-bg);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Montserrat";
}

.header {
  display: flex;
  height: 8vh;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
}

.header h1 {
  font-weight: 500;
  font-size: 1.4rem;
}

.header button {
  background-color: var(--light-bg);
  border: none;
}

.icon:hover {
  cursor: pointer;
  color: var(--color-8-2);
}

.icon {
  font-size: 1.5rem;
  color: var(--color-8-4);
}

.chat {
  display: flex;
  justify-content: space-between;
  margin: 5px 10px;
  padding: 0 10px;
  border-radius: 8px;
  align-items: center;
  color: var(--light-text);
}

.chatName {
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 0;
}

.chatTime {
  font-weight: 300;
  font-size: 0.9rem;
}

.chatLatestMessage {
  margin-top: 10px;
  font-size: 0.8rem;
}

.chat:hover {
  background-color: #ebebeb;
}

.chatSelected {
  background-color: #ddd;
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 10px;
}

.bottomInfo {
  display: flex;
  align-items: center;
}

.container button {
  background-color: var(--light-bg);
  border: none;
}

.icon {
  font-size: 1.5rem;
  color: var(--color-8-4);
}

.icon:hover {
  cursor: pointer;
  color: var(--color-8-2);
}

.username {
  font-family: "Nunito";
  font-size: 1.4rem;
  font-weight: 700;
  padding-left: 10px;
}
