.chatContainer {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.typeArea {
    position: fixed;
    bottom: 2%;
}

.chatbox {
    height: 30px;
    width: 60vw;
    font-size: 12pt;
}

.sendBtn {
    height: 37px;
}